<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{traceId:-},%X{spanId:-}] [${APP_NAME}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5001</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <arguments/>
                <stackTrace/>
                <mdc/>

                <pattern>
                    <pattern>
                        {
                        "service": "${APP_NAME}",
                        "environment": "local"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <!--    <appender name="JSON_FILE"-->
    <!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->

    <!--        <file>/Users/dadaramjadhav/primecart/logs/order-service.json</file>-->

    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->

    <!--            <fileNamePattern>-->
    <!--                /Users/dadaramjadhav/primecart/logs/archive/order-service-%d{yyyy-MM-dd}.%i.json.gz-->
    <!--            </fileNamePattern>-->

    <!--            <maxFileSize>50MB</maxFileSize>-->
    <!--            <maxHistory>7</maxHistory>-->
    <!--            <totalSizeCap>500MB</totalSizeCap>-->
    <!--        </rollingPolicy>-->

    <!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
    <!--            <providers>-->
    <!--                <timestamp/>-->
    <!--                <logLevel/>-->
    <!--                <loggerName/>-->
    <!--                <threadName/>-->
    <!--                <message/>-->
    <!--                <arguments/>-->
    <!--                <stackTrace/>-->
    <!--                <mdc/>-->

    <!--                <pattern>-->
    <!--                    <pattern>-->
    <!--                        {-->
    <!--                        "service": "${APP_NAME}",-->
    <!--                        "environment": "local"-->
    <!--                        }-->
    <!--                    </pattern>-->
    <!--                </pattern>-->
    <!--            </providers>-->
    <!--        </encoder>-->
    <!--    </appender>-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
        <!--        <appender-ref ref="JSON_FILE"/>-->
    </root>

</configuration>